<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>63930386554-5n7rrhj3qkjm97i1o5jur2k23i87kr7b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.63930386554-5n7rrhj3qkjm97i1o5jur2k23i87kr7b</string>
	<key>API_KEY</key>
	<string>AIzaSyDHRumw_ezGO1Cd5lnsJR_CZVr2LFNCVwM</string>
	<key>GCM_SENDER_ID</key>
	<string>63930386554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.textbisonshowcase</string>
	<key>PROJECT_ID</key>
	<string>textbison</string>
	<key>STORAGE_BUCKET</key>
	<string>textbison.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:63930386554:ios:7f3c101a7f68a1060e93c3</string>
</dict>
</plist>